* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_1531 {
  width: 362px;
  height: 819px;
  background: url("../images/v5_1531.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_512 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 59px;
  left: 111px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v5_514 {
  width: 45px;
  height: 53px;
  background: url("../images/v5_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 287px;
  overflow: hidden;
}
.v5_515 {
  width: 45px;
  height: 53px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_516 {
  width: 24px;
  height: 24px;
  background: url("../images/v5_516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 10px;
  overflow: hidden;
}
.v5_517 {
  width: 14px;
  height: 14px;
  background: rgba(73,69,79,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.v5_566 {
  width: 362px;
  height: 819px;
  background: url("../images/v5_566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_568 {
  width: 362px;
  height: 819px;
  background: url("../images/v5_568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_569 {
  width: 390px;
  height: 844px;
  background: rgba(173,173,173,0.3199999928474426);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 14px;
  overflow: hidden;
}
.v5_570 {
  width: 390px;
  height: 844px;
  background: rgba(255,168,168,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 14px;
  overflow: hidden;
}
.v5_571 {
  width: 362px;
  height: 819px;
  background: rgba(251,244,228,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.23999999463558197);
  overflow: hidden;
}
.v5_1064 {
  width: 362px;
  height: 510px;
  background: url("../images/v5_1064.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1057 {
  width: 362px;
  height: 405px;
  background: url("../images/v5_1057.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_1059 {
  width: 362px;
  height: 405px;
  background: url("../images/v5_1059.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1060 {
  width: 390px;
  height: 418px;
  background: rgba(173,173,173,0.3199999928474426);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 14px;
  overflow: hidden;
}
.v5_1061 {
  width: 390px;
  height: 418px;
  background: rgba(255,168,168,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 14px;
  overflow: hidden;
}
.v5_1062 {
  width: 362px;
  height: 405px;
  background: rgba(159,144,136,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.23999999463558197);
  overflow: hidden;
}
.v5_1056 {
  width: 362px;
  height: 213px;
  background: rgba(159,144,136,1);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 0px;
  border-radius: 50%;
}
.v5_1091 {
  width: 309px;
  height: 393px;
  background: url("../images/v5_1091.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 22px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_1048 {
  width: 300px;
  height: 389px;
  background: url("../images/v5_1048.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 9px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_1050 {
  width: 300px;
  height: 389px;
  background: url("../images/v5_1050.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1051 {
  width: 323px;
  height: 401px;
  background: rgba(173,173,173,0.3199999928474426);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 12px;
  overflow: hidden;
}
.v5_1052 {
  width: 324px;
  height: 402px;
  background: rgba(255,168,168,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 12px;
  overflow: hidden;
}
.v5_1053 {
  width: 300px;
  height: 389px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.23999999463558197);
  overflow: hidden;
}
.v5_1065 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 38px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v5_1086 {
  width: 282px;
  height: 152px;
  background: url("../images/v5_1086.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 0px;
  overflow: hidden;
}
.v5_1072 {
  width: 282px;
  height: 37px;
  background: url("../images/v5_1072.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1068 {
  width: 133px;
  color: rgba(152,147,147,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v5_1074 {
  width: 133px;
  color: rgba(152,147,147,1);
  position: absolute;
  top: 59px;
  left: 21px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v5_1078 {
  width: 133px;
  color: rgba(152,147,147,1);
  position: absolute;
  top: 114px;
  left: 21px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v5_1082 {
  width: 240px;
  height: 61px;
  background: rgba(197,218,168,1);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 39px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v5_1084 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 306px;
  left: 92px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v5_1497 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 59px;
  left: 111px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v5_1498 {
  width: 45px;
  height: 53px;
  background: url("../images/v5_1498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 287px;
  overflow: hidden;
}
.v5_1499 {
  width: 45px;
  height: 53px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1500 {
  width: 24px;
  height: 24px;
  background: url("../images/v5_1500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 10px;
  overflow: hidden;
}
.v5_1501 {
  width: 14px;
  height: 14px;
  background: rgba(73,69,79,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.v5_1502 {
  width: 362px;
  height: 510px;
  background: url("../images/v5_1502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1503 {
  width: 362px;
  height: 405px;
  background: url("../images/v5_1503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_1505 {
  width: 362px;
  height: 405px;
  background: url("../images/v5_1505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1506 {
  width: 390px;
  height: 418px;
  background: rgba(173,173,173,0.3199999928474426);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 14px;
  overflow: hidden;
}
.v5_1507 {
  width: 390px;
  height: 418px;
  background: rgba(255,168,168,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 14px;
  overflow: hidden;
}
.v5_1508 {
  width: 362px;
  height: 405px;
  background: rgba(159,144,136,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.23999999463558197);
  overflow: hidden;
}
.v5_1509 {
  width: 362px;
  height: 213px;
  background: rgba(159,144,136,1);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 0px;
  border-radius: 50%;
}
.v5_1510 {
  width: 309px;
  height: 401px;
  background: url("../images/v5_1510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 22px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_1512 {
  width: 300px;
  height: 401px;
  background: url("../images/v5_1512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_1514 {
  width: 300px;
  height: 401px;
  background: url("../images/v5_1514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1515 {
  width: 323px;
  height: 413px;
  background: rgba(173,173,173,0.3199999928474426);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 12px;
  overflow: hidden;
}
.v5_1516 {
  width: 324px;
  height: 413px;
  background: rgba(255,168,168,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 12px;
  overflow: hidden;
}
.v5_1517 {
  width: 300px;
  height: 401px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.23999999463558197);
  overflow: hidden;
}
.v5_1518 {
  width: 232px;
  color: rgba(159,144,136,1);
  position: absolute;
  top: 34px;
  left: 38px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v5_1519 {
  width: 282px;
  height: 114px;
  background: url("../images/v5_1519.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  overflow: hidden;
}
.v5_1520 {
  width: 282px;
  height: 37px;
  background: url("../images/v5_1520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1521 {
  width: 133px;
  color: rgba(152,147,147,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v5_1525 {
  width: 133px;
  color: rgba(152,147,147,1);
  position: absolute;
  top: 77px;
  left: 22px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v5_1527 {
  width: 240px;
  height: 61px;
  background: rgba(197,218,168,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 39px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v5_1528 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 314px;
  left: 92px;
  font-family: Nunito;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
